<!--<!DOCTYPE html>-->
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - WebApplication13</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/themes/default.css" asp-append-version="true" />
	
	<script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>

	<div class="shape green non-select">
	</div>
	<div class="shape blue non-select">
	</div>
	<div class="shape yellow non-select">
	</div>
	<div class="shape blue non-select">
	</div>
	<div class="header">

		<div class="header-content"> </div>
		<div class="sideNav" alg="left">
			<div class="iconPanel"><div class="iconPanel"><h2 style="font-family: MV Boli; font-size: 32px; text-shadow: 4px 2px 0px rgba(0,156,255,0.42);" class="">PEPE</h2><h2 style="margin-left: 13px; font-family: Algerian; text-shadow: 4px 2px 0px rgba(11,162,13,0.42);">LİTTO</h2></div></div>
			<div class="profile-card">
				<div class="user-background-mini row">
					<div class="user-info">
						<div class="user-photo">
						</div>
						<span class="user-title">Hüseyin Sencer Diba</span>
						<span class="user-id">husey.sencer</span>
						<span class="user-desc">husey.sencer</span>
					</div>
					f hh
				</div>

			</div>

		</div>
		<div class="sideNav" alg="right">
		</div>
	</div>


	<div class="content">
		@Url.Action("Index", "Home")
		@RenderBody();
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

	<script src="~/js/hellodialog.js" asp-append-version="true"></script>
	<script>
		$.ajax({
			url: '/Home/Pass',
			type: "POST",
			dataType: "json",

			data: {
				Name: "aa",
				Abe: 12
			},
			success: function (aa) {
				console.log(aa);
			}
		});
	</script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>